{
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "endOfLine": "auto",
    "quoteProps": "preserve",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "css"
}
